html,
body {
  background-color: white;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Cafe24OnePrettyNight';
  src: url('/fonts/Cafe24OnePrettyNight/Cafe24OnePrettyNight.ttf') format('ttf');
}